.wrapper {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

ul {
  list-style: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.search-logo-container {
  right: 0.5rem;
  top: 0;
  bottom: 0;
  font-size: 120%;
}

input {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid black !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem !important;
}

input:focus {
  outline: 0 !important;
}

input::placeholder {
  color: black !important;
  font-size: 0.8rem !important;
}

.bag-logo {
  font-size: 200%;
}

.content {
  position: absolute;
  /* top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: -1; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
}

.title {
  font-size: 15vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.tagline {
  flex: 1;
  font-size: 2rem;
  color: #999;
}

.pages {
  flex: 0;
  letter-spacing: 5px;
  color: #999;
}

.pages span {
  font-size: 60px;
  color: #000;
  font-weight: 600;
}

.more button {
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #fff;
  background: #000;
  padding: 20px 30px;
  border-radius: 10px;
  font-weight: 600;
}

.desc {
  /* flex: 0 0 33%; */
  font-weight: 600;
}

.desc p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
}

/* .desc p:nth-child(2) {
  line-height: 1.7;
} */

.desc span {
  color: #aecd31;
}

.juice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.juice > img {
  animation: float-animation 3s ease-in-out infinite;
  max-height: 80vh;
}

@keyframes float-animation {
  0% {
    margin-top: -6vh;
  }
  50% {
    margin-top: 6vh;
  }
  100% {
    margin-top: -6vh;
  }
}

.bar-menu {
  display: none;
}

.leaves {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.leaves img {
  max-width: 100%;
  max-height: 100%;
}

.leaves .layer {
  position: absolute;
}

.leaves .layer:nth-child(1) {
  top: 30% !important;
  left: 20% !important;
}

.leaves .layer:nth-child(2) {
  top: 45% !important;
  right: 25% !important;
}

.leaves .layer:nth-child(3) {
  top: 10% !important;
  right: 28% !important;
}

.leaves .layer:nth-child(4) {
  top: 43% !important;
  right: 19% !important;
}

.leaves .layer:nth-child(5) {
  top: 75% !important;
  left: 28% !important;
}

.arrow {
  border: 1px solid #999;
  background: transparent;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  outline: none;
}

.arrow:hover {
  color: #fff;
  background: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.drink-logo img {
  max-width: 10rem;
}

.circle-container {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #afcd31;
  font-size: 70%;
}

.cart-num-position {
  bottom: -55%;
  right: -55%;
}

.w-65 {
  width: 65%;
}

.w-68 {
  width: 68%;
}

.line-height-0 {
  line-height: 1;
}
.line-height-1 {
  line-height: 1.1;
}

.line-height-2 {
  line-height: 1.2;
}

.line-height-3 {
  line-height: 1.3;
}

.line-height-4 {
  line-height: 1.4;
}

.line-height-5 {
  line-height: 1.5;
}

.line-height-6 {
  line-height: 1.6;
}
.line-height-7 {
  line-height: 1.7;
}

@media (max-width: 1201px) {
  .menu-links,
  .search,
  .arrow-hint {
    display: none;
  }

  .bar-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .prev,
  .next,
  .large-size-window {
    display: none;
  }

  .small-size-window {
    display: block !important;
  }
}

@media (max-width: 481px) {
  .account {
    display: none;
  }

  .small-juice-logo {
    display: none !important;
  }

  .small-size-window {
    width: 100% !important;
  }

  .juice-container > div {
    width: 100% !important;
  }

  .leaves {
    display: none;
  }
  .tagline {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .pages {
    display: none;
  }

  .title-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .title {
    font-size: 4.5rem;
    text-align: center;
  }

  .sub-title-container {
    flex-direction: column-reverse !important;
  }

  .desc {
    margin-top: 0 !important;
    text-align: center;
  }

  .desc p:first-child {
    font-size: 1.5rem;
    text-align: center;
  }

  .more {
    margin-top: 1rem;
  }
}

.juice-container {
  flex-shrink: 0;
}

.small-juice-logo img {
  max-height: 45vh;
  max-width: 100%;
}

.small-size-window {
  display: none;
}
